node_modules/
.venv/
venv/
env/
myenv/
__pycache__/
*.pyc
.gemini/
*.mp3
*.wav
*.ogg
*.opus
*.au
build/
dist/
.env
.DS_Store
output/
uploads/
backend/vectorstore*/
*.log
*.pdf
*.png
*.db
raga_classification/

