fastapi
uvicorn
pydantic
python-multipart
librosa
numpy
scipy
noisereduce
matplotlib
fpdf
python-dotenv
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
chromadb
huggingface_hub
axios-python-wrapper
